@model UserCreateViewModel

@{
    ViewData["Title"] = "Create User";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Create User
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin">Admin</a></li>
        <li class="active">Create User</li>
    </ol>
</section>

<a asp-action="Index" class="btn btn-primary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
    </div>
    <div class="form-group has-feedback">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <span asp-validation-for="Password" class="help-block"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>