@model IssueTracker.Models.TicketType

@{
    ViewData["Title"] = "Create Ticket Type";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Create Ticket Type
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin">Admin</a></li>
        <li class="active">Create Ticket Type</li>
    </ol>
</section>
<p>
    <a asp-action="Index" class="btn btn-primary">Back</a>
</p>
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>